
    body {
      font-family: Arial, sans-serif;
      background-image: url("img1.jpg");
    }

    #question {
      font-size: 18px;
      margin-bottom: 10px;
    }

    input[type="radio"] {
      margin-right: 5px;
    }

    #options {
      margin-bottom: 20px;
    }

    #submitBtn {
      font-size: 16px;
      padding: 10px;
      cursor: pointer;
    }

    #score {
      font-size: 20px;
      font-weight: bold;
    }
